<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.home.title">Enquiry Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enquiry-details" [routerLink]="['/enquiry-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.home.createLabel">
            Create a new Enquiry Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="enquiryDetails?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.home.notFound">No enquiryDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="enquiryDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.version">Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="edition"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.edition">Edition</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="format"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.format">Format</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documents"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.documents">Documents</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryDate"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.deliveryDate">Delivery Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="enquiryId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.enquiry">Enquiry</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="printId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.print">Print</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="finishingId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.finishing">Finishing</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="handlingId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.handling">Handling</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="packagingId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.packaging">Packaging</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdById"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiryDetails.offer">Offer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enquiryDetails of enquiryDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/enquiry-details', enquiryDetails.id, 'view']">{{ enquiryDetails.id }}</a></td>
                    <td>{{ enquiryDetails.version }}</td>
                    <td>{{ enquiryDetails.edition }}</td>
                    <td>{{ enquiryDetails.format }}</td>
                    <td>{{ enquiryDetails.documents }}</td>
                    <td>{{ enquiryDetails.deliveryDate | date:'mediumDate' }}</td>
                    <td>{{ enquiryDetails.remarks }}</td>
                    <td>{{ enquiryDetails.createdAt | date:'medium' }}</td>
                    <td>{{ enquiryDetails.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="enquiryDetails.enquiryId">
                            <a [routerLink]="['/enquiry', enquiryDetails.enquiryId , 'view']" >{{ enquiryDetails.enquiryId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.printId">
                            <a [routerLink]="['/category', enquiryDetails.printId , 'view']" >{{ enquiryDetails.printId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.finishingId">
                            <a [routerLink]="['/category', enquiryDetails.finishingId , 'view']" >{{ enquiryDetails.finishingId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.handlingId">
                            <a [routerLink]="['/category', enquiryDetails.handlingId , 'view']" >{{ enquiryDetails.handlingId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.packagingId">
                            <a [routerLink]="['/category', enquiryDetails.packagingId , 'view']" >{{ enquiryDetails.packagingId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.createdById">
                            <a [routerLink]="['/user-profile', enquiryDetails.createdById , 'view']" >{{ enquiryDetails.createdById }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiryDetails.offerId">
                            <a [routerLink]="['/offer', enquiryDetails.offerId , 'view']" >{{ enquiryDetails.offerId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/enquiry-details', enquiryDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/enquiry-details', enquiryDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(enquiryDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="enquiryDetails?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
