<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-trading-hours-heading" jhiTranslate="jhipsterSampleApplicationApp.tradingHours.home.createOrEditLabel">Create or edit a Trading Hours</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tradingHours.day" for="field_day">Day</label>
                    <input type="text" class="form-control" name="day" id="field_day"
                           formControlName="day"/>
                    <div *ngIf="editForm.get('day')!.invalid && (editForm.get('day')!.dirty || editForm.get('day')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('day')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('day')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tradingHours.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                           formControlName="startTime"/>
                    <div *ngIf="editForm.get('startTime')!.invalid && (editForm.get('startTime')!.dirty || editForm.get('startTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Start Time' }">
                            This field should follow pattern for "Start Time".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tradingHours.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                           formControlName="endTime"/>
                    <div *ngIf="editForm.get('endTime')!.invalid && (editForm.get('endTime')!.dirty || editForm.get('endTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                        This field cannot be longer than 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'End Time' }">
                            This field should follow pattern for "End Time".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.tradingHours.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="companyId">
                        <option *ngIf="!editForm.get('companyId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackById">{{ companyOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('companyId')!.invalid && (editForm.get('companyId')!.dirty || editForm.get('companyId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('companyId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
