<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.home.title">User Subscriptions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-subscription" [routerLink]="['/user-subscription/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.userSubscription.home.createLabel">
            Create a new User Subscription
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="userSubscriptions?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.home.notFound">No userSubscriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="userSubscriptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validUpto"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.validUpto">Valid Upto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentGatewayToken"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.paymentGatewayToken">Payment Gateway Token</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nextRenewal"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.nextRenewal">Next Renewal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="subscriptionPlanId"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.subscriptionPlan">Subscription Plan</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userProfileId"><span jhiTranslate="jhipsterSampleApplicationApp.userSubscription.userProfile">User Profile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userSubscription of userSubscriptions ;trackBy: trackId">
                    <td><a [routerLink]="['/user-subscription', userSubscription.id, 'view']">{{ userSubscription.id }}</a></td>
                    <td>{{ userSubscription.price }}</td>
                    <td>{{ userSubscription.validUpto | date:'mediumDate' }}</td>
                    <td>{{ userSubscription.paymentGatewayToken }}</td>
                    <td>{{ userSubscription.nextRenewal | date:'mediumDate' }}</td>
                    <td>{{ userSubscription.createdAt | date:'medium' }}</td>
                    <td>{{ userSubscription.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="userSubscription.subscriptionPlanId">
                            <a [routerLink]="['/subscription-plan', userSubscription.subscriptionPlanId , 'view']" >{{ userSubscription.subscriptionPlanId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="userSubscription.userProfileId">
                            <a [routerLink]="['/user-profile', userSubscription.userProfileId , 'view']" >{{ userSubscription.userProfileId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/user-subscription', userSubscription.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/user-subscription', userSubscription.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(userSubscription)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="userSubscriptions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
