<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.staticPages.home.title">Static Pages</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-static-pages" [routerLink]="['/static-pages/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.staticPages.home.createLabel">
            Create a new Static Pages
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="staticPages?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.staticPages.home.notFound">No staticPages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="staticPages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pageTitle"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.pageTitle">Page Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="heading"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.heading">Heading</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="publish"><span jhiTranslate="jhipsterSampleApplicationApp.staticPages.publish">Publish</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staticPages of staticPages ;trackBy: trackId">
                    <td><a [routerLink]="['/static-pages', staticPages.id, 'view']">{{ staticPages.id }}</a></td>
                    <td>{{ staticPages.pageTitle }}</td>
                    <td>{{ staticPages.heading }}</td>
                    <td>{{ staticPages.description }}</td>
                    <td>{{ staticPages.createdAt | date:'medium' }}</td>
                    <td>{{ staticPages.updatedAt | date:'medium' }}</td>
                    <td>{{ staticPages.publish }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/static-pages', staticPages.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/static-pages', staticPages.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(staticPages)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="staticPages?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
