<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.home.title">Payment Details</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-details" [routerLink]="['/payment-details/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.home.createLabel">
            Create a new Payment Details
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentDetails?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.home.notFound">No paymentDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentDetails?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankName"><span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.bankName">Bank Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountNumber"><span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.accountNumber">Account Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userProfileId"><span jhiTranslate="jhipsterSampleApplicationApp.paymentDetails.userProfile">User Profile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentDetails of paymentDetails ;trackBy: trackId">
                    <td><a [routerLink]="['/payment-details', paymentDetails.id, 'view']">{{ paymentDetails.id }}</a></td>
                    <td>{{ paymentDetails.bankName }}</td>
                    <td>{{ paymentDetails.accountNumber }}</td>
                    <td>{{ paymentDetails.createdAt | date:'medium' }}</td>
                    <td>{{ paymentDetails.updatedAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="paymentDetails.userProfileId">
                            <a [routerLink]="['/user-profile', paymentDetails.userProfileId , 'view']" >{{ paymentDetails.userProfileId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payment-details', paymentDetails.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payment-details', paymentDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentDetails)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paymentDetails?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
