<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.bonus.home.title">Bonuses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bonus" [routerLink]="['/bonus/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.bonus.home.createLabel">
            Create a new Bonus
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bonuses?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.bonus.home.notFound">No bonuses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bonuses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.updatedAt">Updated At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="principalAmount"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.principalAmount">Principal Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remarks"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="buyerId"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.buyer">Buyer</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderId"><span jhiTranslate="jhipsterSampleApplicationApp.bonus.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bonus of bonuses ;trackBy: trackId">
                    <td><a [routerLink]="['/bonus', bonus.id, 'view']">{{ bonus.id }}</a></td>
                    <td>{{ bonus.amount }}</td>
                    <td>{{ bonus.createdAt | date:'medium' }}</td>
                    <td>{{ bonus.updatedAt | date:'medium' }}</td>
                    <td>{{ bonus.principalAmount }}</td>
                    <td>{{ bonus.status }}</td>
                    <td>{{ bonus.remarks }}</td>
                    <td>
                        <div *ngIf="bonus.buyerId">
                            <a [routerLink]="['/user-profile', bonus.buyerId , 'view']" >{{ bonus.buyerId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="bonus.orderId">
                            <a [routerLink]="['/order', bonus.orderId , 'view']" >{{ bonus.orderId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bonus', bonus.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bonus', bonus.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bonus)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bonuses?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
