<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="messageDeleteDetails">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.messageDeleteDetails.detail.title">Message Delete Details</span> {{ messageDeleteDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.messageDeleteDetails.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{ messageDeleteDetails.deletedAt }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.messageDeleteDetails.message">Message</span></dt>
                <dd>
                    <div *ngIf="messageDeleteDetails.messageId">
                        <a [routerLink]="['/message', messageDeleteDetails.messageId, 'view']">{{ messageDeleteDetails.messageId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.messageDeleteDetails.deletedBy">Deleted By</span></dt>
                <dd>
                    <div *ngIf="messageDeleteDetails.deletedById">
                        <a [routerLink]="['/user-profile', messageDeleteDetails.deletedById, 'view']">{{ messageDeleteDetails.deletedById }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message-delete-details', messageDeleteDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
