<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.enquiry.home.title">Enquiries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enquiry" [routerLink]="['/enquiry/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.enquiry.home.createLabel">
            Create a new Enquiry
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="enquiries?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.enquiry.home.notFound">No enquiries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="enquiries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryTerms"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.deliveryTerms">Delivery Terms</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="offerTaxtUntil"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.offerTaxtUntil">Offer Taxt Until</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="productId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="deliveryAddressId"><span jhiTranslate="jhipsterSampleApplicationApp.enquiry.deliveryAddress">Delivery Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enquiry of enquiries ;trackBy: trackId">
                    <td><a [routerLink]="['/enquiry', enquiry.id, 'view']">{{ enquiry.id }}</a></td>
                    <td>{{ enquiry.description }}</td>
                    <td>{{ enquiry.deliveryTerms }}</td>
                    <td>{{ enquiry.offerTaxtUntil | date:'mediumDate' }}</td>
                    <td>{{ enquiry.status }}</td>
                    <td>
                        <div *ngIf="enquiry.productId">
                            <a [routerLink]="['/category', enquiry.productId , 'view']" >{{ enquiry.productId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="enquiry.deliveryAddressId">
                            <a [routerLink]="['/address', enquiry.deliveryAddressId , 'view']" >{{ enquiry.deliveryAddressId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/enquiry', enquiry.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/enquiry', enquiry.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(enquiry)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="enquiries?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
